page-pocket-money {

    .a{
        background-color:lightgray;
        height: 15%;
        font-size:18px;
        border-radius: 20px
      
    }
    .b{
        margin-top:5%
    }
    .d{
        margin-top:10%
    }
    .c{
        font-size:24px;
    }
    .g{
        margin-bottom:25%
    }
}
